@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @* Componente para exibir os dados do usuário*@
        <ContaUsuario/>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
