@if (isAuthenticated)
{
	<div class="mb-2" style="background-color: #eee; padding: 20px;">
		<div>
			Usuário: <strong>@nomeUsuario</strong>
		</div>
		<div>
			E-mail: <small>@emailUsuario</small>
		</div>
	</div>
}
