@page "/app/dashboard"

<div class="card m-2">
	<div class="card-body">

		<h2>Dashboard principal</h2>
		<p>Resumo da sua agenda de tarefas</p>
		<hr />

		<div class="mb-3">
			<strong class="text-secondary">@mensagemProcessamento</strong>
			<strong class="text-danger">@mensagemErro</strong>
		</div>

		<div id="grafico"></div>

	</div>
</div>




